

<div class="container">
    <div class="page-header" style="overflow: hidden">

        <img  class="pull-left" ng-src="{{user.imageSrc}}" width="60" height="60">

        <h2>{{user.name}} <small class="pull-right">
            <img src="/img/chronometer.png">
            <img src="/img/gendarmery_france.png">
            <img src="/img/hotfoodcheckpoint.png">
            <img src="/img/lockerroom.png">
            <img src="/img/lodging_cycling.png">
        </small>
        </h2>

        <div class="progress" style="margin: 10px 0 0 0">
            <div class="progress-bar progress-bar-success" style="width: 35%">
                <span class="sr-only">35% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: 20%">
                <span class="sr-only">20% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
        </div>

        <div class="pull-left"> <b>19 lvl</b></div>

        <div class="pull-right"> <b>+20 lvl</b></div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Найти встречу!">
                </div>
            </form>
        </div>
        <div class="col-md-2" style="display: block;">
            <div class="form-group">
              <!--  <label>
                    Начало
                </label>-->
                <input type="datetime-local" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
            <!--    <label>
                    Окончание
                </label>-->
                <input type="datetime-local" class="form-control">
            </div>
        </div>
    </div>

<!--
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <div class="visited">Посещенные</div>
            </div>
            <div class="col-md-5">
                <div class="approved">Подтвержденные </div>
            </div>
            <div class="col-md-3">
                <a>Убрать легенду</a>
            </div>
        </div>
-->
    </div>

    <div ui-view="" > </div>
</div>


