
        <p>
            Химки! Ребята собираемся!&nbsp;
        </p>
        <div>
            Друьзья, Обладатели нексии живущие в Химках и неподалеку от них, пишите
            сюда, кто желает!!! Надо бы собрать людей и организовать встречу!
        </div>
        <p>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                        Петя
                    </h3>
                    <img src="https://s3.amazonaws.com/media.jetstrap.com/5zKPFtkSSq6aSowVLKlI_2011-08-Egypt-index_43"
                         width="300" height="200">
                    <p>
                        Любит кататься на роликах
                    </p>
                    <p>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        Маша
                    </h3>
                    <img src="https://s3.amazonaws.com/media.jetstrap.com/z0ZlTh81TvKiQ36ES89V_Ира загорает"
                         width="300" height="">
                    <p>
                        Яркая, целеустремленная девушка.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        Даша
                    </h3>
                    <img src="https://s3.amazonaws.com/media.jetstrap.com/XrVA0ydHSiS73BSeNDRT_Света"
                         width="300">
                    <p>
                        Со мной не соскучишься!
                    </p>
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg">Все участники»</a>
            </p>
        </div>

