
<div class="col-md-1 center-block" style="margin: 6px 0"><span class="label label-info" >+ {{meeting.participants.length}}</span></div>

<div class="col-md-8 pull-left">{{meeting.description}}</div>
<div class="col-md-3 pull-right">

    <div class="btn-group">
        <button type="button" class="btn btn-success btn-lg" ui-sref="meeting.details({id:meeting.id})">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-lg" ui-sref="meeting.details({id:meeting.id})">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
</div>

<div class="container">
            <div class="row">
                <div class="col-md-4" ng-repeat="participant in meeting.participants">
                    <h3>
                        {{participant.name}}
                    </h3>
                    <img src="{{participant.imageSrc}}"  class="img-thumbnail">

                    <!--style="width: 200px; height: 200px"-->
                    <p>
                        {{participant.info}}
                    </p>
                </div>
            </div>
            <p>
                <button type="button" class="btn btn-info" ui-sref="meeting.details({id:meeting.id})">
                    <span class="glyphicon glyphicon-user"></span> Показать всех
                </button>
            </p>
        </div>

