
    <div ng-repeat="meeting in meetings">
        <div ng-class="{'bs-callout-success' : meeting.isApproved, 'bs-callout-visited' : meeting.isVisited, 'bs-callout-request' : meeting.isRequest}" class="bs-callout " >
            <p>{{meeting.description}}</p>
            <div class="row">
                <div class="col-md-1 center-block" style="margin: 6px 0"><span class="label label-info" >+ {{meeting.participants.length}}</span></div>
                <div style="display: block; float: left;" ng-repeat="participant in meeting.participants">
                    <img ng-src="{{participant.imageSrc}}" width="60" height="60">
                </div>
                <div class="pull-right" style="margin-top: 12px">
                    <button type="button" class="btn btn-primary btn-lg" ui-sref="meeting.details({id:meeting.id})">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
